* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background: var(--color_for_fon_page1);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--color_for_fon_page2), var(--color_for_fon_page1));
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(left, var(--color_for_fon_page2), var(--color_for_fon_page1));
    background: linear-gradient(to right, var(--color_for_fon_page2), var(--color_for_fon_page1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 18px;
    overflow: hidden;
}

#conteyner_for_mobile__bok_menu {
    display: none;
    padding-top: 2.5%;
}

#conteyner_for_top_menu {
    display: block;
    padding-top: 50px;
}

.osnov_pole {
    position: relative;
    width: 100%;
    height: calc(100% - 85px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.osnov_pole .info_pole {
    height: 80%;
    width: 60%;
    overflow: auto;
    background: var(--color_for_info_pole);
    border-radius: 25px;
    /*padding-bottom: 50px;*/
    overflow: auto;
    /* firefox */
    scrollbar-width: none;
}

.osnov_pole .info_pole::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.osnov_pole .info_pole .zagolovok_bok_menu_for_info_pole p {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    background: var(--color_for_fon_in_spisok_bok_menu2);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--color_for_fon_in_spisok_bok_menu2), var(--color_for_fon_in_spisok_bok_menu1));
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(left, var(--color_for_fon_in_spisok_bok_menu2), var(--color_for_fon_in_spisok_bok_menu1));
    background: linear-gradient(to right, var(--color_for_fon_in_spisok_bok_menu2), var(--color_for_fon_in_spisok_bok_menu1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: var(--color_text_hover_in_spisok_bok_menu);
    font-weight: 700;
    font-family: "Vollkorn";
    font-size: 30px;
    border: 25px 25px 0 0;
    margin-bottom: 50px;
}

.osnov_pole .info_pole .zagolovok_info_pole {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 25px;
    color: var(--osnov_color_in_info_pole);
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    font-family: "Russo One";
}

.osnov_pole .info_pole .podzagolovok_info_pole {
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 25px;
    color: var(--osnov_color_in_info_pole);
    text-align: left;
    font-weight: 700;
    font-size: 20px;
    font-family: "Russo One";
}

.osnov_pole .info_pole .opedelenie_for_info_pole {
    width: calc(100% - 60px);
    margin-left: 30px;
    margin-right: 30px;
    background: var(--fon_zagolovok_in_bok_menu);
    margin-bottom: 25px;
}

.osnov_pole .info_pole .opedelenie_for_info_pole p {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    color: var(--color_text_in_zagolovok_in_bok_menu);
    font-size: 20px;
}

.osnov_pole .info_pole .opedelenie_for_info_pole p vid_zag_opedelenie {
    text-decoration: underline;
    font-weight: 700;
}

.osnov_pole .info_pole .vashno {
    width: calc(100% - 120px);
    margin-left: 60px;
    margin-right: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    box-shadow: 2px 5px 10px black;
    margin-bottom: 25px;
}

.osnov_pole .info_pole .vashno div {
    padding-top: 15px;
    padding-bottom: 15px;
}


/*Цвет ячейки для "Важно"*/

.osnov_pole .info_pole .vashno .vid_zag_vashno {
    height: inherit;
    background: var(--color_for_fon_in_spisok_bok_menu2);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--color_for_fon_in_spisok_bok_menu2), var(--color_for_fon_in_spisok_bok_menu1));
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(left, var(--color_for_fon_in_spisok_bok_menu2), var(--color_for_fon_in_spisok_bok_menu1));
    background: linear-gradient(to right, var(--color_for_fon_in_spisok_bok_menu2), var(--color_for_fon_in_spisok_bok_menu1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    font-weight: 700;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/*Цвет ячейки для "Примера"*/

.osnov_pole .info_pole .vashno .vid_zag_vashno_dop {
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(left, #243B55, #141E30);
    background: linear-gradient(to right, #243B55, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.osnov_pole .info_pole .vashno div:last-of-type {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.osnov_pole .info_pole .spisok_perechislenie {
    display: block;
    margin-right: 45px;
    margin-left: 45px;
    margin-bottom: 25px;
}

.osnov_pole .info_pole .spisok_perechislenie li {
    margin-bottom: 15px;
    list-style-type: decimal-leading-zero;
}

.osnov_pole .info_pole .information_okno_for_info_panel {
    width: calc(100% - 240px);
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 25px;
    outline: 3px solid var(--color_outline_information_okno_in_infp_pole);
    box-shadow: 2px 5px 10px black;
}

.osnov_pole .info_pole .information_okno_for_info_panel p {
    padding: 15px;
}

.osnov_pole .info_pole .information_okno_v2_for_info_panel {
    width: calc(100% - 60px);
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 25px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-family: "Fjalla One";
    font-size: 35px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.osnov_pole .info_pole .podokno_for_information_okno_v2_for_info_panel {
    width: calc(100% - 240px);
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 25px;
}

.osnov_pole .info_pole .podokno_for_information_okno_v2_for_info_panel p {
    text-align: center;
}

.vashnoe_videlenie {
    background: var(--color_for_fon_in_spisok_bok_menu2);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--color_for_fon_in_spisok_bok_menu2), var(--color_for_fon_in_spisok_bok_menu1));
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(left, var(--color_for_fon_in_spisok_bok_menu2), var(--color_for_fon_in_spisok_bok_menu1));
    background: linear-gradient(to right, var(--color_for_fon_in_spisok_bok_menu2), var(--color_for_fon_in_spisok_bok_menu1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: var(--color_text_hover_in_spisok_bok_menu);
    padding: 10px;
}

.perehod_in_page {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    display: block;
    margin: 0 auto;
}

.perehod_in_page form input {
    padding: 5px;
    width: 70px;
    background: var(--fon_zagolovok_in_bok_menu);
    color: var(--color_text_in_zagolovok_in_bok_menu);
    border: 0;
    cursor: pointer;
}

.perehod_in_page form input:active {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.8" /><feFuncG type="linear" slope="0.8" /><feFuncB type="linear" slope="0.8" /></feComponentTransfer></filter></svg>#filter');
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
}

.perehod_in_page form input:disabled {
    background-color: gray;
    cursor: default;
}

.perehod_in_page form input:active:disabled {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1" /><feFuncG type="linear" slope="1" /><feFuncB type="linear" slope="1" /></feComponentTransfer></filter></svg>#filter');
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}

.perehod_in_page form {
    float: left;
    padding-bottom: 50px;
}

.perehod_in_page form:first-of-type {
    margin-right: 50px;
}


/*Style for code pole*/

.panel_code {
    width: calc(100% - 120px);
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 50px;
}

.panel_code .trigger_for_panel_code {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
}

.panel_code .trigger_for_panel_code form {
    margin-right: 15px;
}

.panel_code .trigger_for_panel_code form:last-of-type {
    margin-right: 0;
}

.panel_code .trigger_for_panel_code form input {
    width: 100px;
    font-size: 18px;
    background-color: var(--fon_zagolovok_in_bok_menu);
    color: white;
    border: 0;
    outline: 0;
    border-radius: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.panel_code .trigger_for_panel_code form input:disabled {
    background-color: gray;
}

.panel_code .trigger_for_panel_code form input:hover {
    cursor: pointer;
    box-shadow: 3px 5px 10px black;
}

.panel_code .trigger_for_panel_code form input:hover:disabled {
    cursor: default;
    box-shadow: none;
}

.panel_code .trigger_for_panel_code form input:active {
    filter: brightness(80%);
}

.panel_code .trigger_for_panel_code form input:active:disabled {
    filter: brightness(100%);
}

.panel_code div pre.rainbow-show {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;
    overflow-y: hidden;
    font-size: 16px;
    line-height: 20px;
}


/*Меняем цвет выделения*/

.panel_code #panel_cod_for_HTML pre span::selection {
    background-color: white;
    color: black;
    font-weight: 700;
}

.panel_code #panel_cod_for_HTML pre::selection {
    background-color: white;
    color: black;
    font-weight: 700;
}

.panel_code #panel_cod_for_CSS pre span::selection {
    background-color: white;
    color: black;
    font-weight: 700;
}

.panel_code #panel_cod_for_CSS pre::selection {
    background-color: white;
    color: black;
    font-weight: 700;
}

.panel_code #panel_cod_for_JS pre span::selection {
    background-color: white;
    color: black;
    font-weight: 700;
}

.panel_code #panel_cod_for_JS pre::selection {
    background-color: white;
    color: black;
    font-weight: 700;
}


/*---*/

.panel_code #panel_cod_for_HTML pre span::-moz-selection {
    background-color: white;
    color: black;
    font-weight: 700;
}

.panel_code #panel_cod_for_HTML pre::-moz-selection {
    background-color: white;
    color: black;
    font-weight: 700;
}

.panel_code #panel_cod_for_CSS pre span::-moz-selection {
    background-color: white;
    color: black;
    font-weight: 700;
}

.panel_code #panel_cod_for_CSS pre::-moz-selection {
    background-color: white;
    color: black;
    font-weight: 700;
}

.panel_code #panel_cod_for_JS pre span::-moz-selection {
    background-color: white;
    color: black;
    font-weight: 700;
}

.panel_code #panel_cod_for_JS pre::-moz-selection {
    background-color: white;
    color: black;
    font-weight: 700;
}


/*Конец смены выделения*/


/**********************/


/*Объяснение кода в panel code*/

.block_for_panel_code {
    width: calc(100% - 120px);
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 25px;
    box-shadow: 5px 5px 15px black;
}

.block_for_panel_code .panel_code {
    width: 100%;
    margin: 0;
    margin-bottom: 25px;
}

.block_for_panel_code .panel_code pre {
    margin: 0;
}

.text_in_block_for_panel_code {
    display: block;
    text-align: center;
    margin-bottom: 25px;
}

.zagolovok_text_in_block_for_panel_code {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 25px;
}

.zagolovok_text_in_block_for_panel_code b {
    text-decoration: underline;
}


/******************************/


/*Свойства таблицы*/

.block_table {
    width: calc(100% - 60px);
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 25px;
    padding: 10px;
    overflow-y: auto;
}

.block_table table tr td {
    width: 50%;
    text-align: center;
    outline: 2px solid black;
    padding: 5px;
}

.block_table table .table_zagolovok {
    text-align: center;
}

.table_zagolovok {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
}

.top_canvas_for_table {
    border-top: 2px solid black;
}

.block_for_panel_code .opedelenie_for_info_pole p {
    text-align: center;
}

.okras_table_lang table tr td:first-of-type {
    user-select: none;
}

.okras_table_lang table tr:nth-child(2n) {
    background-color: antiquewhite;
    color: chocolate;
    font-weight: 900;
}


/*****************/